/*
Theme Name: WordPress Starter Theme Child
Theme URI: https://github.com/andrewcraigmorgan/wordpress-starter-theme-child
Description: WordPress Starter Theme Child (Plain)
Author: Andrew Craig Morgan
Author URI: https://github.com/andrewcraigmorgan
Template: wordpress-starter-theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: starter-theme-child
Tags: custom-menu, blog
Tested up to: 6.7
Requires PHP: 8.2
*/
